.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

.input {
  padding: 10px;
  width: 300px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
}

.button {
  padding: 10px;
  width: 300px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.success {
  color: green;
}

.description {
  text-align: center;
  max-width: 300px;
}